<% provide(:title, '') %>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-2">
        <h2><%= glyph 'pencil' %></h2>
        <br>
        <p>The <%= glyph 'pencil' %> icon will show all comments for the post. Next you can add your own comment in the New Comment form field.</p>
        <p><a class="btn btn-default" href="../" role="button">Back &raquo;</a></p>
      </div>
      <div class="col-md-2">
        <h2><%= glyph 'cog'%></h2>
        <br>
        <p>The <%= glyph 'cog' %> icon is for site admin only, and allows the posts to be edited. If you are not the site administrator, don't worry about this one. </p>
        <p><a class="btn btn-default" href="../" role="button">Back &raquo;</a></p>
     </div>
      <div class="col-md-2">
        <h2><%= glyph 'trash'%></h2>
        <br>
        <p>The <%= glyph 'trash' %> icon is for site admin only, and allows the posts to be deleted. If you are not the site administrator, don't worry about this one either. </p>
        <p><a class="btn btn-default" href="../" role="button">Back &raquo;</a></p>
      </div>
    </div>