<!DOCTYPE html>
<html>
<head>
  <title>Salamon Family Beer Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
 <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        
      <a class="navbar-brand" href="#">Salamon Beer Review</a>      
    </div><!-- /.container -->
  </div><!-- /.navbar -->

<div class="container">
    <!-- Example row of columns -->
  <div class="row">
    <div class ="col-md-4">
    	<img src="/assets/sculpin.png">

        <h2>About This Site</h2>
        <p>Poke around and find out what the experts think about your favorite beers. Take a sip and give your own expert opinion! </p>
        <hip><a class="btn btn-default" href="../about" role="button">View More instructions&raquo;</a></p>
  
    </div>
    <div class="col-md-8">
      <%=yield%>
    </div>
  </div>
</div>     
<footer class="footer">
  <small>
    
    Matt Salamon 2014  |   All Right Reserved   |   Only the site admin can edit, create or destroy a post

  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'http://mattsalamon.herokuapp.com' %></li>
      <li><%= link_to "Contact", 'http://mattsalamon.herokuapp.com' %></li>
      <li><a href="http://msalamon.byethost13.com/">MyBlog</a></li>
    </ul>
  </nav>
</footer>

</body>
</html>
